/* Variables */

:root {

    /* Colours  */
    --red: #EB2C49;
    --gray-mid: #64686e;
    --gray-mid-75: #64686ebf;
    --gray-dark: #5d6162;
    --gray-lighter: #a7a8ab;
    --gray-light: #dfdfe0;
}