/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
     font-family: 'Roboto', sans-serif;
}

section {
    overflow-x: hidden;
}
.section-title {
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--gray-dark);
}

section p {
    color: var(--gray-dark);
}

/* buttons */
.btn-outline-primary {
    color: var(--gray-mid);
    border-color: var(--gray-lighter);
    border-radius: 0;
    text-transform: uppercase;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: var(--red);
    border-color: var(--red);
}

section {
    overflow-y: hidden;
}

.our-story p:nth-of-type(1) {
    font-weight: 600;
    padding-top: 2rem;
}

hr {
    color: #212529;
    opacity: .65;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

#main-nav .nav-item {
    border-bottom: 2px solid #f0f1f3;
    text-transform: uppercase;
}

#main-nav .nav-item .nav-link {
    letter-spacing: .2rem;
    font-weight: 500;
}

/* Burger menu toggle */
.navbar-toggler {
    border: none;
    padding: 0;
}

.animated-icon {
    width: 23px;
    height: 23px;
    position: relative;
    margin: 0px;
    /* margin-top: 8px!important; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
  
   .animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  
  .animated-icon span {
    background: var(--red);
    }
    
  .animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  
  .animated-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  
  .animated-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  
  .animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
    width: 23px;
  }
  
  .animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  
  .animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0px;
    left: 0px;
    width: 23px;
  }

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

.img-angle-top {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 11%);
}
.img-angle-top-folio {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
}
.img-angle-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 75% 85%, 0 100%);
}
.flip-x {
    transform: scaleX(-1);
}
.img-angle-bottom-right {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 25% 85%, 0 100%);
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero-carousel {
    overflow: hidden;
    position: relative;
}

#hero-carousel .hero-angle {
  
    opacity: 1;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
}

/* #hero-carousel .hero-angle-2 {
    background-color: #63686e;
    opacity: .64;
    z-index: 9999;
    clip-path: polygon(0 24%, 68% 0, 100% 13%, 100% 38%, 67% 34%, 0 44%);
    height: 500px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
} */


#hero-carousel .swiper-wrapper {
    align-items: baseline;
}
.swiper-wrapper {
    justify-content: space-between;
}
/* General slider image  */
.img-bg {
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    /* background-position: center 30%; */
    /* transition: all .8s; */
    transition: width 2s, height 2s, opacity 2s, background-color 2s;
    /* transform-origin:right bottom; */
}

.box-img {
    transition: width 2s, height 2s, opacity 2s, background-color 2s;
    /* transform-origin:right bottom; */
}


/* Right slider image  */
#hero-carousel .swiper-slide.swiper-slide-next {
    width: 55%!important;
}
.swiper-slide.swiper-slide-next .img-bg {
    width: 85%;
    height: calc(770px/2);
    /* transition: all .8s; */
}
.swiper-slide.swiper-slide-next .box-img {
    width: 15%;
    background-color: var(--red);
    height: calc(770px/2);
    /* transition: all .8s; */
    clip-path: polygon(100% 6%, 100% 100%, 0 100%, 0 0);
}

/* Left slider image */
#hero-carousel .swiper-slide.swiper-slide-active {
    width: 45%!important;
}
.swiper-slide.swiper-slide-active .img-bg {
    height: calc(640px/2);
    width: 75%;
    bottom: 0;
}
.swiper-slide.swiper-slide-active .box-img {
    width: 25%;
    height: calc(640px/2);
    background-color: var(--gray-lighter);
    clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 0);
}

/* Prev (invisible) slider image  */
.swiper-slide.swiper-slide-prev .img-bg {
    height: 300px;
    width: 75%;
    bottom: 0;
    opacity: 0.25;
}
.swiper-slide.swiper-slide-prev .box-img {
    background-color: var(--gray-lighter);
    clip-path: polygon(100% 20%, 100% 100%, 0 100%, 0 0);
    height: 300px;
    width: 25%;
    bottom: 0;
    opacity: 0.25;
}

#hero-carousel .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hero-carousel .angle-gray {
    background-color: var(--gray-mid-75);
}

#hero-carousel .angle-text p {
    margin-bottom: 0;
    font-size: 1rem;
    color: #ffffff;
}

/*--------------------------------------------------------------
# Angle Backgrounds
--------------------------------------------------------------*/
.angle-container {
    background-color: red;
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
   height: 100%;
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.angle-1 {
   
    clip-path: polygon(0 50%, 75% 25%, 100% 35%, 100% 70%, 75% 65%, 0 70%);
    width: 100%;
    /* opacity: .6; */
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.angle-gray { 
    background-color:  var(--gray-mid);
}
/* .angle-text-container {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: red;
    opacity: .5;
    z-index: 3;
    display: flex;
    align-items: center;
} */

.angle-text {
    color: #ffffff;
    padding-right: .5rem;
    text-align: right;
    z-index: 999;
}




/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/

.welcome-img {
    width: 100%;
    /* height: 332px; */
    object-fit: cover;
    /* z-index: -999; */
}

/*--------------------------------------------------------------
# Stats
--------------------------------------------------------------*/
.stats {
    margin-top: -70px;
    padding-bottom: 55px;
    
    /* z-index: 999999; */
}

.stats.container-fluid {
    position: relative;
}

.stats-angle {
    clip-path: polygon(0 45%, 82% 0, 100% 25%, 100% 90%, 82% 65%, 0 100%);
    width: 100%;
    height: 120px;
}

.stats-angle-red {
    background-color: var(--red);
    /* z-index: 9999; */
}

.stats-angle-white {
    margin-top: -45px;
    background-color: #ffffff;
    position: absolute;
    /* z-index: 0; */
}

/* .stats-text {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 82%;
    bottom: 0px;
    margin-top: -80px;
    z-index: 9;
    
} */
/* .stats-text p {
    
    color: #ffffff;
   font-size: 0.875rem;
   transform: rotate(-10deg);
} */

.stats p {
    color: #ffffff;
    width: 82%;
    font-size: 13px;
    padding-top: 18px;
    padding-left: 16px;
    transform: rotate(352deg);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .card {
    border: none;
    border-bottom: 1px solid var(--gray-light);
    border-radius: 0px;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    text-decoration: none;
    transition: all 0.5s ease;

}

.services .card h2 {
    color: var(--gray-mid);
    font-weight: 400;
    font-size: 1.875rem;
    transition: all 0.5s ease;
}
.services svg {
    width: 56.83px; 
    height: 56.5px;
    transition: all 0.5s ease;
}

.services .card-text svg {
    width: 28.57px;
    height: 5px;
}

.services .card:hover h2 {
color: var(--red);
}

.services .card:hover .card-text svg {
   transform: translateX(.5rem);
}

/*--------------------------------------------------------------
# Philosophy
--------------------------------------------------------------*/
.philosophy {
    overflow: visible;
}
.philosophy-container {
    position: relative;
}

.philosophy .section-title {
    font-size: 3rem;
}

.philosophy p {
    color: #ffffff;
}
.philosophy .text {
    /* position: relative; */
    background-color: var(--gray-main);
}
.philosophy .angle {
    
    position: absolute;
    top: 0;
    bottom: 0;

}

.philosophy .angle-bg {
    height: 125vh;
    clip-path: polygon(0 50%, 75% 25%, 100% 35%, 100% 70%, 75% 65%, 0 75%);
    width: 100%;
    background-color: var(--gray-light);
    /* background-color: var(--red); */
    /* position: absolute; */
   
    z-index: -9;
}

.philosophy p:nth-of-type(1) {
    font-size: 1.25rem;
}

/*--------------------------------------------------------------
# Expertise 
--------------------------------------------------------------*/
.expertise p, .expertise .area-body h2 {
    color: #ffffff;
}

.expertise img {
    object-fit: cover;
    height: 400px;
    width: 87.5%;
}

.expertise .area-body h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.expertise p {
    font-size: .875rem;
}
.area-container {
    position: relative;
    text-decoration: none;
}
.area-text {
    
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 83%;

}
.area-text-bg {
    background-color: var(--gray-dark-90);
    clip-path: polygon(100% 20%, 100% 0, 100% 100%, 0 100%, 0 0%);

}
.expertise img, .area-body svg, .area-text-bg {
    transition: all .1s ease-in-out;
}
.area-icon svg {
    width: 23px;
}
.area-body svg {
    width: 40px;
}

.area-line {
    height: 100%;
    position: absolute;
    left: -11px;
    bottom: -5px;
    transform: scale(0.9, 1.09);
}

.expertise a:hover .area-text-bg {
    background-color: var(--red-90);
}
.expertise a:hover img {
    opacity: .9;
}
.expertise a:hover .area-body svg {
    transform: translateX(4px);
}
/*--------------------------------------------------------------
# Testimonials slider
--------------------------------------------------------------*/
/* Slider image  */
#testimonials-carousel .swiper-slide.swiper-slide-next {
    width: 55%!important;
}
#testimonials-carousel .swiper-slide.swiper-slide-next .img-bg {
    width: 80%;
    height: calc(770px/2);
    /* transition: all .8s; */

}

#testimonials-carousel .box-img {
    clip-path: polygon(100% 15%, 100% 100%, 0 100%, 0 0);
    width: 20%;
}

#testimonials-carousel .box-img {
    background-color: var(--gray-lighter);
}

#testimonials-carousel h3 {
    color: var(--gray-dark);
    font-weight: 400;
    font-size: 2.125rem;
    padding-bottom: 1rem;
}

#testimonials-carousel p {
    font-size: 1.5rem;
}



/*--------------------------------------------------------------
# Inner banner
--------------------------------------------------------------*/
.angle-line-banner {
    border-top: 1px solid #212529;
    rotate: 347deg;
    margin-top: 4rem;
    width: 110vw;
    margin-bottom: -1rem;
    margin-left: 0;
}
.inner-banner {
    position: relative;
    /* clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 40%); */
    height: 16rem;
    /* width: 90%; */
}
.inner-banner .red-angle {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0%;
    bottom: 0;
    right: 0;
    background-color: var(--red);
    clip-path: polygon(100% 14%, 100% 100%, 0 100%, 0 0);
}
.inner-banner svg, .inner-banner img {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    /* height: 10vw; */
    width: 95%;
    right: 0;
    opacity: .5;
    /* border-top: 1px solid red; */

}
.project-banner svg, .project-banner img {
    right: -30%;
}

.skew {
    position: absolute;
    top: 219px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #212529;
    transform: skewY(-6.5deg);
    transform-origin: top left;
    z-index: 99999;
}
.inner-banner h1 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 5rem;
}
.inner-banner .container-fluid {
    /* width: 90%; */
    /* clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 40%); */
    clip-path: polygon(90% 0, 90% 100%, 0 110%, 0 40%);
    position: absolute;
    left: 0;
    height: 100%;
}
.about-banner .container-fluid {
    background-color: var(--gray-mid);
}
.about-banner h1 {
    color: #ffffff;
}
.selected-project-banner .red-angle {
    background-color: var(--gray-lighter);
}
/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
/* .project-banner {
    background-color: var(--gray-light);
} */
.project-banner h1 {
    color: var(--gray-dark);
}
/* .project-banner  {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 40%);
} */
.project-banner .container-fluid {
    background-color: var(--gray-light);
    clip-path:  polygon(90% 0, 90% 100%, 0 110%, 0 40%);
    /* clip-path: polygon(100% 0, 100% 100%, 0 110%, 0 40%); */
}
/* clip-path:  polygon(90% 0, 90% 100%, 0 110%, 0 40%); */

.filters {
    background-color: var(--gray-lightest);
    border-radius: 50px;
    width: fit-content;
    flex-wrap: wrap;
}
.filters li {
    display: flex;
}

.filters .control {
    padding: .5rem .75rem;
    font-size: .875rem;
    color: var(--gray-dark);
    text-decoration: none;
   
}
.filters .control:hover {
    cursor: pointer;
    color: var(--red);
}

.filters .mixitup-control-active {
    background-color: #ffffff;
    border-radius: 50px;
    /* box-shadow: 0px 0px 14px -3px rgba(66, 68, 90, 1); */
    box-shadow: 0px 0px 14px -3px var(--gray-dark);
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Project cards  */

.project-cards a {
    text-decoration: none;
}

.project-cards .card {
    border: none;
}

.project-cards .card img {
    /* height: 279.944px; */
    height: auto;
    object-fit: cover;
 }

 .project-cards .card-title {
    color: var(--gray-dark);
    font-weight: 300;
    font-size: 1.25rem;
 }
.project-cards .card-text {
    text-transform: uppercase;
    color: var(--red);
    font-size: .6rem;
    letter-spacing: .1rem;
    font-weight: 500;
}

.project-cards svg {
   width: 39.8721px;
   height: 57.2461px;
   position: absolute;
   bottom: 0;
   left: 1px;
}

/* Paging  */

.paging  .page-link, .paging .page-item:last-child .page-link {
    border-color: #ffffff;
    color: var(--gray-dark);
    border-radius: 0;
}
.paging .page-item.active .page-link {
    background-color: transparent;
    border: 2px solid var(--gray-light);
    border-radius: 0;
    color: var(--gray-dark);
}


/*--------------------------------------------------------------
# Breadcrumbs 
--------------------------------------------------------------*/
.breadcrumb-item, .breadcrumb-item a  {
    font-size: .75rem;
    color: #ffffff!important;
    text-transform: uppercase;
    text-decoration: none;
   
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff;
}
.project-banner .breadcrumb-item, .project-banner .breadcrumb-item a {
    color: var(--gray-dark)!important;
}
.project-banner .breadcrumb-item+.breadcrumb-item::before {
    color: var(--gray-dark);
}
/*--------------------------------------------------------------
# Our story
--------------------------------------------------------------*/
.our-story  .angle {
    position: absolute;
    top: 0;
    bottom: 0;
}

.our-story-container {
    position: relative;
}
.our-story .angle-bg {
height: 208vh;
clip-path: polygon(0 50%, 75% 25%, 100% 35%, 100% 70%, 75% 65%, 0 75%);
width: 100%;
background-color: var(--gray-lightest);
/* background-color: var(--red); */
/* position: absolute; */

z-index: -9;
}


/*--------------------------------------------------------------
# Text-img sections
--------------------------------------------------------------*/
.text-img  .angle {
    position: absolute;
    top: 0;
    bottom: 0;
}

.text-img-container {
    position: relative;
}
.text-img .angle-bg {
    height: 400px;
    clip-path: polygon(0 50%, 85% 0, 100% 35%, 100% 70%, 85% 65%, 0 75%);
    width: 100%;
    background-color: var(--gray-lightest);
    /* background-color: var(--red); */
    /* position: absolute; */
    z-index: -9;
    margin-top: -5rem;
}
.text-img p:nth-of-type(1) {
    font-weight: 600;
    padding-top: 2rem;
   }

   .angle-left .angle-bg {
    transform: scaleX(-1);
    /* margin-top: 29rem; */
    position: absolute;
   left: 0;
  /* bottom: -5%; */
  height: 392px;
  /* bottom: 0; */
  top: calc((100% - 6rem) - 200px);
  clip-path: polygon(0 50%, 35% 0, 100% 35%, 100% 70%, 35% 65%, 0 75%);
   }

   
   .dark-bg, .red-bg {
    z-index: -99999;
   }
   .dark-bg {
    background-color: var(--gray-dark);
   }
   .dark-bg .angle-bg {
    background-color: #000000;
    opacity: .3;
    z-index: 0;
   }
   .red-bg {
    background-color: #c73e4a;
   }
   .red-bg .angle-bg {
    background-color: #9f323b;
    z-index: 0;
    /* opacity: .25; */
   }
   
   .red-bg h2, .red-bg p, .dark-bg h2, .dark-bg p {
    color: #ffffff;
   }

   .red-bg .container, .red-bg .section-title,  .dark-bg .container, .dark-bg .section-title {
    z-index: 999999999;
   }

   .red-bg .text-end, .dark-bg .text-end {
    z-index: 9999999999;
   }

   #strengths {
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 3rem;

   }

   #people {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
    padding-bottom: 3rem;
   }

   


/* Memberships */

/* Awards  */

.swiper-button-next::after {
    color: var(--gray-dark);
}

.swiper-button-prev::after {
    color: var(--gray-dark);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    /*background-color: var(--black);*/
    /*background-color: var(--mid-25);*/
    border-top: 1px solid var(--gray-mid);
    padding-top: 4rem;
}


footer a {
     font-size: 14px;
     text-decoration: none;
     font-weight: 400;
     color: var(--light);
}
 
footer a:hover {
     text-decoration: underline;
     color: #ffffff;
}

footer a:hover i {
    color: #ffffff;
}


.footer-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--light);
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;

}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}
  .shfooter .collapse {
    display: inherit;
  }

  .shfooter i::before {
      color: var(--light);
  }
  
  .sub-footer .container {
    border-top: 1px solid var(--light);
    padding-top: 1rem;
}

.resize {
    text-align: center;
}
    
.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}
  
/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer ul li a:hover i {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards; 
}
    
@keyframes icons-rise {
        from {
          transform: translateX(0px); 
        }
        to {
          transform: translate(2.5px, -2.5px); 
        } 
}
.social-footer a:hover {
    text-decoration: none; 
}

.social-footer a:hover span {
    text-decoration: underline; 
}

@keyframes arrow-right {
    from {
        transform: translateX(0px); 
    }
    to {
        transform: translateX(3px); 
    }
    }
 
 footer a:hover, footer a:hover .bi-chevron-double-right {
    color: var(--red);
 }

footer hr:not([size]) {
    height: 1px;
    color: var(--light);
    opacity: .8;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
}

footer ul {
    padding: 20px 10px 10px 10px;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--gray-dark);
   font-weight: 600;
}
footer h4 {
font-size: 1.5rem;
color: var(--gray-mid);
font-weight: 400;

}
footer p, footer li {
    font-size: 0.875rem;
    margin-bottom: 0.2rem;
    color: var(--gray-mid);
}
.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

.shfooter .collapse.show {
    display: block;
}

.shfooter .title .bi-chevron-down,
.shfooter .title[aria-expanded=true] .bi-chevron-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .bi-chevron-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}

footer .bi-chevron-double-right {
    font-size: .6rem;
    color: var(--212529);
}
.sub-footer p {
    /*color: var(--light);*/
    color: var(--light);
    font-size: 14px;
}

.sub-footer .container {
    padding: 1rem;
}

footer .stats-angle {
    background-color: var(--gray-footer);
    height: 300px;
    clip-path: polygon(0 45%, 90% 0, 100% 15%, 100% 80%, 90% 65%, 0 100%);
}
footer .stats-angle .copyright {
    margin-right: 10%;
}
footer .stats-angle p {
    font-size: 1rem;
    color: #ffffff;
   
}
