/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {


    /* Type  */

    .section-title {
        font-size: 2.75rem;
    }
    /*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero-carousel .hero-carousel {
    overflow: hidden;
}

#hero-carousel .hero-angle {
  
    opacity: 1;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
}
#hero-carousel .swiper-wrapper {
    align-items: baseline;
}
#hero-carousel .swiper-wrapper {
    justify-content: space-between;
}
/* General slider image  */
.img-bg {
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* background-position: center 30%; */
    /* transition: all .8s; */
    transition: width 2s, height 2s, opacity 2s, background-color 2s;
    /* transform-origin:right bottom; */
}

.box-img {
    transition: width 2s, height 2s, opacity 2s, background-color 2s;
    /* transform-origin:right bottom; */
}


/* Right slider image  */
#hero-carousel .swiper-slide.swiper-slide-next {
    width: 55%!important;
}
.swiper-slide.swiper-slide-next .img-bg {
    /* width: 90%; */
    height: 570px;
    /* transition: all .8s; */
}
.swiper-slide.swiper-slide-next .box-img {
    /* width: 10%; */
    /* background-color: var(--red); */
    height: 570px;
    /* transition: all .8s; */
    /* clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 0); */
}

/* Left slider image */
#hero-carousel .swiper-slide.swiper-slide-active {
    width: 45%!important;
}
.swiper-slide.swiper-slide-active .img-bg {
    height: 440px;
    width: 75%;
    bottom: 0;
}
.swiper-slide.swiper-slide-active .box-img {
    width: 25%;
    height: 440px;
    background-color: var(--gray-lighter);
    /* clip-path: polygon(100% 20%, 100% 100%, 0 100%, 0 0); */
}

/* Prev (invisible) slider image  */
.swiper-slide.swiper-slide-prev .img-bg {
    height: 300px;
    width: 75%;
    bottom: 0;
    opacity: 0.25;
}
.swiper-slide.swiper-slide-prev .box-img {
    background-color: var(--gray-lighter);
    clip-path: polygon(100% 20%, 100% 100%, 0 100%, 0 0);
    height: 300px;
    width: 25%;
    bottom: 0;
    opacity: 0.25;
}

#hero-carousel .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hero-carousel .angle-text {
    padding-right: 4.5rem;
    padding-top: 1rem;
}
#hero-carousel .angle-text p {
    font-size: 1.65rem;
}

/* Angles  */
.angle-1 {
    /* clip-path: polygon(0 65%, 75% 15%, 100% 40%, 100% 85%, 75% 75%, 0 90%);
    clip-path: polygon(0 50%, 75% 25%, 100% 35%, 100% 70%, 75% 65%, 0 70%); */
    clip-path: polygon(0 55%, 75% 25%, 100% 35%, 100% 75%, 75% 70%, 0 85%);
}
/* Stats  */
.stats {
    margin-top: -35px;
}
.stats-angle {
    height: 180px;
 }
 .stats p {
    color: #ffffff;
    width: 82%;
    font-size: 24px;
    padding-top: 23px;
    padding-left: 38px;
    transform: rotate(353.5deg);
}
/* Services  */
.services .card {
    border: none;
    border-right: 1px solid var(--gray-light);
    /* padding-bottom: 0; */
}
/* Philosophy  */
.philosophy .angle-bg {
    height: 80vh;}
    .philosophy p:nth-of-type(1) {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
    .philosophy .section-title {
        font-size: 3.5rem;
    }

/* Testimonials  */
/* #testimonials-carousel .swiper-slide.swiper-slide-next .img-bg, #testimonials-carousel .swiper-slide.swiper-slide-next .box-img, #testimonials-carousel .swiper-slide.swiper-slide-active .img-bg, #testimonials-carousel .swiper-slide.swiper-slide-active .box-img, #testimonials-carousel .swiper-slide.swiper-slide-prev .img-bg, #testimonials-carousel .swiper-slide.swiper-slide-prev .box-img
 {
    height: 100%;
 } */

 /*--------------------------------------------------------------
# Inner banner
--------------------------------------------------------------*/
.angle-line-banner {
    border-top: 1px solid #212529;
    rotate: 351deg;
    margin-top: 4rem;
    width: 110vw;
    margin-bottom: -1rem;
    margin-left: 0;
}
.inner-banner {
height: 16rem;
}
.inner-banner h1 {
    margin-top: 5rem;
    font-size: 2.8rem;
 }
 .inner-banner svg, .inner-banner img {
    width: 55%;
    opacity: 1;
 }

 .inner-banner  .banner-photo {
    width: auto;
    height: 60%;
    object-fit: cover;
    position: absolute;
    right: 12%;
    bottom: calc(50% - 30%);
   }
 /* Breadcrumbs  */
 .breadcrumb-item, .breadcrumb-item a  {
    font-size: 1rem;}
/* Our story  */
.our-story .angle-bg {
    height: 125vh;
    clip-path: polygon(0 50%, 75% 25%, 100% 35%, 100% 70%, 75% 65%, 0 75%);
    width: 100%;
    background-color: var(--gray-lightest);
    /* background-color: var(--red); */
    /* position: absolute; */
    
    z-index: -9;
    }

    /* text-bg  */
    .text-img .angle-bg {
        height: 430px;
        clip-path: polygon(0 40%, 80% 0, 100% 35%, 100% 90%, 80% 65%, 0 75%);
    }

    .angle-left .angle-bg {
        /* margin-top: 0rem; */
        /* height: 385px; */
        top: 200px;
        height: 315px;
   clip-path: polygon(0 50%, 75% 0, 100% 45%, 100% 100%, 75% 65%, 0 95%);
       
    }
    #strengths {
        clip-path: polygon(0 19%, 100% 0%, 100% 100%, 0% 100%);
        padding-top: 3rem;
    
       }
    
       #people {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
        padding-bottom: 3rem;
    
       }


       /* Projects */
       .filters .control {
        padding: .25rem .5rem;
        font-size: .65rem;
       }
       .filters .mixitup-control-active {
        padding-left: 1rem;
        padding-right: 1rem;
       }
       .project-banner svg, .project-banner img {
        right: 0;
    }
    .project-cards .card-title {
       
        font-size: .94rem;
    }
    /* Selected project  */
    .selected-about .section-title {
        font-size: 1.6rem;
    }
    .selected-about svg {
        left: -1rem;
    }
    .image-gallery .section-title {
        font-size: 1rem;
    }



    
  /*Footer */
    
  footer  .nes-logo {
    padding-top: 0;
}
footer .nes-logo-top {
width: 84px;
}
footer .nes-logo a {
    float: right;
}

.shfooter .collapse {
display: block;
}
footer .fa-chevron-right {
display: inline-block;
}
footer ul li {
margin-bottom: 10px;
padding-left: 2.3rem;
text-indent: -1.1rem;

}
footer .stats-angle {
  
    height: 300px;
}
footer p, footer li, footer a {
    font-size: 0.75rem;
}
}