/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #main-nav .nav-item {
        border-bottom: none;
        font-size: 0.875rem;
    }
    /* #main-nav .nav-item:not(:last-of-type) .nav-link::after {
        padding-left: 1rem;
     } */
     #main-nav .nav-item:not(:last-of-type) .nav-link::after {
        content: '|';
        font-size: .8rem;
        padding-left: 1rem;
     }

     .social-icons-top {
        position: absolute;
        top: calc(50px + 1.5rem);
        left: 20;
     }

     /* hero carousel  */

     /* Right slider image  */
     .swiper-slide.swiper-slide-next .img-bg {
      width: 85%;
    
  }
  .swiper-slide.swiper-slide-next .box-img {
      width: 15%;
    
     
  }

.swiper-slide.swiper-slide-next .img-bg, .swiper-slide.swiper-slide-next .box-img  {
  
   height: calc(570px*1.2);
  
}


/* Left slider image */

.swiper-slide.swiper-slide-active .img-bg, .swiper-slide.swiper-slide-active .box-img {
   height: calc(440px*1.2);
  
}


     .angle-1 {
   
      clip-path: polygon(0 65%, 75% 25%, 100% 40%, 100% 85%, 75% 75%, 0 90%);

     }
     #hero-carousel .angle-text {
      padding-top: 4rem;
      padding-right: 9rem;
     }
     #hero-carousel .angle-text p {
      font-size: 2.25rem;
      margin-bottom: 0.25rem;
      
     }


     .section-title {
      font-size: 4.5rem;
     }
     section p {
      font-size: 1.25rem;
     }

     /* Stats  */
     .stats {
      margin-top: -50px;
  }
.stats-angle {
   height: 250px;
}
  .stats-angle-white {
   margin-top: -65px;
  }

  .stats p {
   font-size: 36px;
   padding-top: 26px;
   padding-left: 85px;
   transform: rotate(354.5deg);
  }
  /* Philosophy  */
  .philosophy .section-title {
   font-size: 3.5rem;
  }
  .philosophy .angle-bg {
   clip-path: polygon(0 50%, 85% 20%, 100% 35%, 100% 70%, 75% 60%, 0 70%);
   /* clip-path: polygon(0 50%, 75% 25%, 100% 35%, 100% 70%, 75% 65%, 0 70%); */
   height: 125vh;

}
.philosophy p:nth-of-type(1) {
   font-size: 1.875rem;
   margin-bottom: .5rem;
}

/*--------------------------------------------------------------
# Inner banner
--------------------------------------------------------------*/
.angle-line-banner {
   border-top: 1px solid #212529;
   rotate: 353deg;
   margin-top: 4rem;
   width: 110vw;
   margin-bottom: -2rem;
   margin-left: 0;
}
.inner-banner {
   height: 22rem;
}
.inner-banner svg, .inner-banner img {
   width: 55%;
   max-height: 90%;
}
.inner-banner h1 {
   font-size: 3.875rem;
   margin-top: 8rem;
}
 /* projects */
.project-banner img {
   opacity: 1;
}
.project-cards .card-title {
       
   font-size: 1.25rem;
}

.inner-banner  .banner-photo {
   right: 15%;
}

/* Our story  */
.our-story .angle-bg {
   height: 155vh;
   clip-path: polygon(0 50%, 80% 23%, 100% 35%, 100% 70%, 80% 65%, 0 75%);
   width: 100%;
   background-color: var(--gray-lightest);
   /* background-color: var(--red); */
   /* position: absolute; */
   
   z-index: -9;
   }

   /* .text-img  */
   .text-img .angle-bg {
      height: 470px;
      clip-path: polygon(0 50%, 80% 0, 100% 45%, 100% 100%, 80% 65%, 0 95%);
      margin-top: -3rem;
  }

  .angle-left .angle-bg {
   /* margin-top: 2rem; */
   top: 150px;
   height: 374px;
   clip-path: polygon(0 50%, 75% 0, 100% 45%, 100% 100%, 75% 65%, 0 95%);
}


/* Projects  */
.filters li {
   margin: 0 .5rem;
}
.filters .control {
   padding: .5rem .5rem;
   font-size: .875rem;
}
.filters .mixitup-control-active {
   padding-left: 1rem;
   padding-right: 1rem;
  }



 /*Footer */
    
 footer ul li a:hover .fa-chevron-right {
   animation: arrow-right 0.3s linear forwards; 
         
     }
 
 @keyframes arrow-right {
   from {
     transform: translateX(0px); }
   to {
     transform: translateX(3px); } 
     
 }
 footer .stats-angle {
  
   height: 400px;
}





}

